# Arquivos e diretórios gerados pelo Delphi
__history/
__recovery/
__resources/
__src/
__history/
*.identcache
*.local
*.dsk
*.dproj.local
*.groupproj.local
*.res
*.drc
*.tlb
*.map
*.dcp
*.bpl
*.dll
*.cfg
*.dof
*.dsk
*.~*
*~
__MACOSX/
*.local/
*.rsm/
*.rsj/
*.bak/
*.dsk
*.ddp
*.jar
*.jsd
*.jsh

# Arquivos de configuração
*.identcache
*.dcc32
*.dsk
*.dof
*.cfg
*.local
*.dproj.local
*.groupproj.local
*.rsj

# Pasta de saída
Output/
